In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_rows',100)

%matplotlib inline
print("✓ All libraries imported successfully!")

✓ All libraries imported successfully!

In [11]:
import pandas as pd
train_df = pd.read_csv('../data/train.csv')


print(f"Data shape: {train_df.shape}")
print(f"Columns: {train_df.columns.tolist()}")


display(train_df.head())
print("\nFirst 5 rows:")

Data shape: (891, 12)
Columns: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S

First 5 rows:

In [5]:
import os
print(f"Current directory: {os.getcwd()}")
print(f"Files in data folder: {os.listdir('../data')}")

Current directory: C:\Users\kings\data_analytics_portfolio\titanic_analysis\notebooks
Files in data folder: ['gender_submission.csv', 'test.csv', 'train.csv']

In [6]:
print(train_df.head())

NameError: name 'train_df' is not defined

In [12]:
# Cell 3: Data verification
print("=== DATA VERIFICATION ===")
print(f"1. Total rows: {len(train_df)}")
print(f"2. Total columns: {len(train_df.columns)}")
print(f"3. Column names: {train_df.columns.tolist()}")
print(f"4. Data types:\n{train_df.dtypes}")
print(f"5. Missing values:\n{train_df.isnull().sum()}")

=== DATA VERIFICATION ===
1. Total rows: 891
2. Total columns: 12
3. Column names: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
4. Data types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
5. Missing values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64